body, html
{

	margin                      : 0px;
	padding                     : 0px;
	background-color            : #ffffff;
	overflow-x                  : hidden;

	-webkit-background-clip     : padding-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-font-smoothing      : antialiased;

	overflow-x                  : hidden;

}

body
{
	font-size      : 14px;
	min-width      : 100%;
	max-width      : 100%;
	text-rendering : optimizelegibility;

}


table{
  border: thin solid #c6c6c6;
  margin: 40px auto;
  td{
    width: 50px;
    height: 100px;
    border: thin solid #c6c6c6;
  }
}

