// ===========================
// INDEX
// ===========================
@zindexUnderNav: 1020;
@zindexFixedNavbar: 1030;
@zindexModalBackdrop: 1040;
@zindexModal: 1050;
@zindexOutOfScope: 999999;



// ===========================
//  ELEMENTS COLORS
// ===========================

@color-bg: #efeff4;
//font default color
@color-primary: #444444;

@color-grey: #f7f7f7;
//border colors
@color-border: #c6c6c6;

//font lighter color
@color-primary-light: #959595;

//passport
@passport-color:#ff8100;


@black: #000000;
@white: #ffffff;
@blue: #009cff;
@dark_blue: #0080ff;
@darker-blue: #0066cc;
@background-blue: #cce0f5;



@green-light: #94c873;
@green: #82ce34;
@dark_green: #6bac43;
@red:#fcccd9;
@dark-red:#ef013f;


@light-grey: #f7f7f7;



// ============================================
//  BUTTONS COLORS
// ============================================
//default button
@btn-default: #f1f1f1;
@btn-default-border: #c6c6c6;

// ============================================
//     HEADERS
// ============================================
@color-header-bg: #f1f1f1;
@color-header-border: #dadada;
@color-header-font: #626262;

// ============================================
//     COLORS DEFS
// ============================================

//additional color elements

@color-border-darker: #aaaaaa;
@color-default: #959595;
@color-default-lighter: #b5b5b5;
@color-default-lightest: #d5d5d5;

// ============================================
//     MENU
// ============================================
@menu-active-color: #eb7000;
//todo: to be remove and be more merchant specific
@menu-bg-color: #f7f7f7;
//todo: to be removed

@color-default-light: #959595;

// ============================================
//   MISC, SIZES AND SPEED CONTROL
// ============================================
@label-width: 60px;
@navigation-width: 45px;
@navigation-height: 45px;
@menu-transition-speed: 200ms;

//bootstrap default size variable for table > 768px
// Extra small screen / phone
//@screen-xs:                  480px;
//@screen-phone:               @screen-xs;
//
//// Small screen / tablet
//@screen-sm:                  768px;
//@screen-tablet:              @screen-sm;
//
//// Medium screen / desktop
//@screen-md:                  992px;
//@screen-desktop:             @screen-md;
//
//// Large screen / wide desktop
//@screen-lg:                  1200px;
//@screen-lg-desktop:          @screen-lg;
//
//// So media queries don't overlap when required, provide a maximum
//@screen-xs-max:              (@screen-sm - 1);
//@screen-sm-max:              (@screen-md - 1);
//@screen-md-max:              (@screen-lg - 1);

//large phone, ie:Android devices
//ViewSonic ViewPad 10: resolution 1024x600
@screen-note: 597px;

//tablets view window resolution range from 1020x800
//IPad2 1024x768
//Blackberry Playbook 1020x600
//ViewSonic ViewPad 10 1024x600

@screen-landscape-table:1020px;

@accesso-width: 1023px;
@accesso-height: 768px;

//set from accesso-width
@accesso-desktop: @accesso-width;

// ============================================
//      IMAGE PATHS
// ============================================

.sprite
{
	display : inline-block;
}

// Temporarily disable retina versions of sprite until issues corrected
@media (min--moz-device-pixel-ratio : 2),
(-o-min-device-pixel-ratio          : 2/1),
(-webkit-min-device-pixel-ratio     : 2),
(min-device-pixel-ratio             : 2)
{
	.sprite
	{
		-moz-background-size    : auto;
		-ie-background-size     : auto;
		-o-background-size      : auto;
		-webkit-background-size : auto;
		background-size         : auto;
	}
}
