<table>
	<tr>
		<td>
			<div class="flip-container" id="box1" data-ng-click="selectBox(1)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
		<td>
			<div class="flip-container" id="box2" data-ng-click="selectBox(2)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
		<td>
			<div class="flip-container" id="box3" data-ng-click="selectBox(3)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="flip-container" id="box4" data-ng-click="selectBox(4)"
		         ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front"></div>
				<div class="back"></div>
			</div>
		</div>
		</td>
		<td>
			<div class="flip-container" id="box5" data-ng-click="selectBox(5)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
		<td>
			<div class="flip-container" id="box6" data-ng-click="selectBox(6)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="flip-container" id="box7" data-ng-click="selectBox(7)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
		<td>
			<div class="flip-container" id="box8" data-ng-click="selectBox(8)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
		<td>
			<div class="flip-container" id="box9" data-ng-click="selectBox(9)"
			     ontouchstart="this.classList.toggle('hover');">
				<div class="flipper">
					<div class="front"></div>
					<div class="back"></div>
				</div>
			</div>
		</td>
	</tr>
</table>

